.clients {
  background-color: $whiteColor;
  padding: 1rem 2rem;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 30px;
    list-style-type: none;
  }
  &__box {
    width: 100%;
    height: auto;
    border: 1px solid $iconFirstColor;
    border-radius: $borderRadiusDeflaut;
    color: $iconFirstColor;
    display: block;
    justify-content: center;
    padding: 16px 52px;
    transition-property: color;
    transition-duration: $transitionDuration;
    transition-timing-function: $transitionTimingfunction;
    &:hover {
      border: 1px solid $hoverColor;
      color: $hoverColor;
    }
    &:focus {
      border: 1px solid $hoverColor;
      color: $hoverColor;
    }
  }
}
