.contact-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact-link {
  font-size: 12px;
  color: $brandDeflautColor;
  letter-spacing: 0.02em;
  list-style-type: none;
  line-height: 16px;
  font-family: $fontFamilyMain;
  font-style: normal;
  font-weight: 500;
  transition-property: color;
  transition-duration: $transitionDuration;
  transition-timing-function: $transitionTimingfunction;
  display: flex;
  align-items: center;
  gap: 10px;
  &:hover {
    color: $hoverColor;
    cursor: pointer;
  }
  &:active {
    color: $hoverColor;
    cursor: pointer;
  }
  &:focus {
    color: $hoverColor;
    cursor: pointer;
  }
  &:first-of-type {
    margin-right: 50px;
  }
}

// --------------- TABLET ---------------

@media screen and (min-width: $breakpointTabletStart) and (max-width: $breakpointTabletEnd) {

  .contact-block {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 21px 0px;
  }

  .contact-link:first-of-type {
    margin-right: 0px;
  }

}
