.header {
  font-family: "Raleway";
  border-bottom: px solid $borderColor;
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 31px;
  text-decoration: none;

  &__logo-box {
    display: flex;
    align-items: center;
    padding: 16px 0px;
  }
  &__logo {
    
    color: $hoverColor;

  }
  &__logo--black {
    color: $logoBlack;
  }
}

// --------------- TABLET ---------------

@media screen and (min-width: $breakpointTabletStart) and (max-width: $breakpointTabletEnd) {

}

// --------------- DESKTOP ---------------

@media screen and (min-width: $breakpointDesktopStart) {
  .header__logo-box {
    padding: 24px 0px;
  }

  .header__logo {
    margin-right: 94px;
  }
}