.header {
  border-bottom: px solid $borderColor;
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 31px;
  text-decoration: none;

  &__logo-box {
    display: flex;
    align-items: center;
    padding: 24px 0px;
  }
  &__logo {
    font-family: "Raleway";
    color: $hoverColor;
    margin-right: 94px;
  }
  &__logo--black {
    color: $logoBlack;
    margin-right: 0;
  }
}
