.hero {
  background-color: $backgroundScdColor;
  height: 400px;
  padding: 118px 0px;
  background-image: linear-gradient(
      to bottom,
      $gradientHeroColor,
      $gradientHeroColor
    ),
    url("../images/hero.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 57px;
  }

  &__txt {
    color: $whiteColor;
    font-family: $fontFamilyMain;
    font-style: normal;
    font-weight: 900;
    line-height: 1.36;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center;
  }

  &__btn {
    background-color: $hoverColor;
    color: $whiteColor;
    font-family: $fontFamilyMain;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: $boxShadowDeflaut;
    border-radius: $borderRadiusDeflaut;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 41px 10px 42px;
    margin-top: 30px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero@2x.jpeg);
  }
}

@media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero@3x.jpeg);
  }
}

// --------------- TABLET ---------------

@media screen and (min-width: $breakpointTabletStart) and (max-width: $breakpointTabletEnd) {
  .hero__flex {
    padding: 0px 200px;
  }
}

// --------------- DESKTOP ---------------

@media screen and (min-width: $breakpointDesktopStart) {
}
