.team {
  background-color: $colorTeam;
  padding: 60px 15px;

  &__list {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 30px;
    gap: 30px;
    width: 100%;

  }

  &__card {
    display: block;
    justify-content: center;
    background-color: $whiteColor;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px $backdropColor;
    border-radius: 0px 0px 4px 4px;
    width: 100%;
  }

  &__name {
    text-transform: capitalize;
    font-size: 16;
    letter-spacing: 0.03em;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    color: $brandTxtColor;
    margin-top: 30px;
  }

  &__desc {
    text-transform: capitalize;
    color: $brandDeflautColor;
    font-family: $fontFamilyMain;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 16px;
  }

  &__icon-list {
    display: flex;
    justify-content: center;
    padding: 0px 32px;
    margin-bottom: 30px;
    list-style-type: none;
  }

  &__icon-sm {
    color: $iconFirstColor;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: inline-block;
    padding: 12px;
    transition-property: color, background-color;
    transition-duration: $transitionDuration;
    transition-timing-function: $transitionTimingfunction;
    &:hover {
      background-color: $hoverColor;
      color: $whiteColor;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      display: inline-block;
      padding: 12px;
    }
    &:focus {
      background-color: $hoverColor;
      color: $whiteColor;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      display: inline-block;
      padding: 12px;
    }
  }
}
