.what-we-do {
  font-family: $fontFamilyMain;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $whiteColor;
    text-align: center;
  display: none;
  gap: 30px;
  margin-top: 50px;
  padding-bottom: 94px;
  list-style: none;

  &__title {
    display: none;
  }

  &__item {
    position: relative;
  }

  &__overlay {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 70px;
    background: $overlayBg;
    padding: 27px 90px;
  }
}

// --------------- DESKTOP ---------------

@media screen and (min-width: $breakpointDesktopStart) {
  .what-we-do {
    display: flex;

    &__title {
      display: block;
    }
  }
}
