$logoBlack:#000;
$brandTxtColor: #212121;
$brandDeflautColor: #757575;
$hoverColor: #2196f3;
$whiteColor: #fff;
$backgroundScdColor: #2f303a;
$colorTeam: #f5f4fa;
$borderColor: #ececec;
$borderPortfolioColor: #eeeeee;
$gradientHeroColor: #2f303a66;
$iconFirstColor: #afb1b8;
$iconFooterBg: rgba(255, 255, 255, 0.1);
$portfolioOverlayColor: rgba(33, 150, 243, 0.9);
$placeholderColor: rgba(117, 117, 117, 0.5);
$overlayBg: rgba(47, 48, 58, 0.8);
$backdropColor: rgba(0, 0, 0, 0.2);
$transitionTimingfunction: cubic-bezier(0.4, 0, 0.2, 1);
$fontFamilyMain: "Roboto", "sans-serif";
$boxShadowDeflaut: 0px 4px 4px rgba(0, 0, 0, 0.15);
$borderRadiusDeflaut: 4px;
$transitionDuration: 250ms;
$breakpointPhoneEnd: 767px;
$breakpointTabletStart: 768px;
$breakpointTabletEnd: 1199px;
$breakpointDesktopStart: 1200px;